target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/SoulMateServer/out/production/SoulMateDTO/com/soulmate/dtos/*.class
/SoulMateServer/out/artifacts/SoulMateDTO_jar
/out/artifacts/SoulMateDTO_jar/SoulMateDTO.jar
